body {
    overflow: -webkit-paged-y;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    opacity: 0.5;
    -webkit-animation: canvasChange 4s infinite alternate;
    animation: canvasChange 4s infinite alternate;
}

@keyframes canvasChange {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

.imported {
    background: black;
}

.menu-opener2,
.menu-opener {
    color: white;
}

.on-top {
    transform: rotate(-90deg);
}

.side-bar.side-push {
    overflow: hidden;
}

.bg-primary {
    background: #8b4df9;
}

.color-primary {
    color: #8b4df9;
}

.adj-bg{
    background:#ff9800;
}

.adj-color{
    color:#ff9800;
}

.card textarea {
    background: #22292f;
    border: 0.2em solid #8b4df9;
    padding: 1.5em;
    margin: 2.5em;
    min-width: 12em;
    min-height: 12em;
    position: relative;
    border-radius: .25rem;
}

.card#html textarea {
    left: 12em;
    top: 1em;
}

.card#css textarea {
    left: 0em;
    top: 3em;
}

.card#js textarea {
    left: -12em;
    top: 5em;
}

.card.is-shadow textarea {
    -webkit-box-shadow: 1px 1px 7px 1px rgba(172, 127, 255, 0.61);
    -moz-box-shadow: 1px 1px 7px 1px rgba(172, 127, 255, 0.61);
    box-shadow: 1px 1px 7px 1px rgba(172, 127, 255, 0.61);
}

.result-frame iframe#ifames {
    height: 85%;
    width: 80%;
    background: #f2f2f2;
    border: 0;
    padding: 1em;
    border-radius: 0.3em;
    -webkit-box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.15);
    margin: 1em auto;
}

.box {
    display: inline-flex;
    height: 34.59em;
}

.fixed-bot {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#html, #css, #js,
#html_ellegant, #css_ellegant, #js_ellegant {
    height: 14.25em;
    width: 80%;
    border-radius: .3em;
    margin: 2% auto;
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15);
}

body.nav-active #html, body.nav-active #css, body.nav-active #js {
    transition: all .2s;
    width: 50%;
    margin-left: 50%;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

iframe#iframe, iframe#iframe_ellegant {
    width: 80%;
    border: 0;
    border-radius: .3em;
    padding: 1%;
    margin: 2% auto;
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15);
}


.ace_scrollbar-v, .ace_scrollbar-h{
    opacity: 0.05;
}

.ace-monokai .ace_gutter {
    background: #2F3129;
    color: #8F908A;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.ace_editor .ace_marker-layer .ace_bracket {
    display: none;
}

button#EditThisCode, button#SaveThisCode {
    z-index: 1;
    border: 0;
    margin-top: 1%;
    position: absolute;
    padding: 0.05em 1em;
    border-radius: .3em;
    color: white;
}
button#EditThisCode {
    background: #8BC34A;
    right: 12%;
}
button#SaveThisCode {
    background: #f92665;
    right: 3%;
}

#footer {
    z-index: 9;
    background: white;
}

.has-padlr-55 {
    padding: 0 5.5%;
}

#first_frame iframe {
    margin-top: -15%;
}

body.nav-active div#code_ellegant {
    width: 80%;
    float: right;
}

body.nav-active .has-padlr-55 {
    padding: 0px 6.7%;
}


div#code_ellegant iframe {
    padding: .8em;
    border-radius: .3em;
    background: white;
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15);
}

.button{
    border:0;
}

.btn-presentation {
    text-align: center;
    padding: 2.5% 0;
}

.btn-presentation .button {
    padding: .5% 6%;
}

ul.menu_order {
    width: 50%;
    display: inline-flex;
    list-style: none;
    margin: 2.355% auto;
}

li.menu_items a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 2em;
}

li.menu_items a:hover, li.menu_sidebar a:hover{
    transition: all .4s;
    color:#ff9800;
}

li.menu_sidebar a:hover{
    transition: all .4s !important;
    color:#ff9800 !important;
}

li.menu_sidebar {
    display: inline-grid;
    text-align: center;
    width: 100%;
    padding-bottom: 2em;
    text-transform: uppercase;
    font-size: 1.2em;
}

.chartjs-size-monitor {
    height: 40em;
}

#frame_skills_language{
    height: 700px;
    width: 75%;
    border: 0;
    margin: 0 21%;
    position: absolute;
    top: 5%;
}

#frame_skills_language_lib{
    height: 700px;
    width: 75%;
    border: 0;
    margin: 0 21%;
    top: 23%;
}

#frame_skills_language_db{
    height: 700px;
    width: 75%;
    border: 0;
    margin: 0 21%;
    position: absolute;
    top: 47.5%;
}

.gap-500{
    height: 500px;
}


.gap-550{
    height: 550px;
}


.gap-30{
    height: 30px;
}


.gap-60{
    height: 60px;
}

.goal {
    overflow-y: scroll;
    height: 600px;
    width: 50%;
    border-radius: .5em;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    margin: 0 auto;
}

.goal::-webkit-scrollbar {
    background:transparent;
}


.goal::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	border-radius: 0;
	background-color: transparent;
}

.goal::-webkit-scrollbar
{
	width: 0;
	background-color: transparent;
}

.more_skills{
    width: 5em;
    margin: 0 auto;
}

.more_skills img{
    width:5em;
}

.more_skills ul {
    list-style: none;
    display: inline-flex;
    margin:0;
    padding: 0;
    width: 25em;
    transform: translatey(-1em) translateX(-23%);
}

.more_skills ul li {
    margin-left: 1.5em;
}

.more_skills ul li:first-child {
    margin-left: 0em;
}

.information_scroll {
    margin-top: 1em;
    position: absolute;
    left: 25%;
    z-index: 99;
    transform: rotate(-90deg);
}

span.scroll_down p{
    padding: .5em;
    background: #FFC107;
    color: black;
    border-radius: 5em;
}

span.scroll_down p:before {
    content: "";
    width: 35px;
    height: 35px;
    background: #FFC107;
    position: absolute;
    top: 4px;
    border-radius: 5em;
    left: -45px;
}

.side-bar.side-push{
    z-index: 99;
}

.side-bar #nav ul.list-inline.social {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
}

.side-bar #nav .list-inline.social>li {
    display: block;
}

.side-bar #nav ul.list-inline.social li a img {
    width: 5em;
    float: left;
    position: relative;
    margin-left: 1em;
    top: -10em;
}

#linkedin_fix{
    margin-top:-.5em;
}

#catalog .goal {
    margin-top: -13px;
}

.title_project {
    background: #8b4df9;
    color: white;
    width: 50%;
    margin: 0 auto;
    padding: .6em 0;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
}

#catalog .price {
    border-radius: 5em;
    position: absolute;
    right: 28%;
    top: 5.3em;
    background: #8BC34A;
    padding: .5em 1.4em;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

#catalog .price2 {
    border-radius: 5em;
    position: absolute;
    right: 28%;
    margin-top: -4.1em;
    background: #8BC34A;
    padding: .5em 1.4em;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}