<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <a href="#" class="logo pull-left"><img class="logo" src="images/store_logo.png"></a>
            <!-- start of social -->
            <ul class="list-inline social">
                <li><a href="https://www.facebook.com/Geek-Store-601790020278000/"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/geekersstore/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
            <!-- end of social -->
            <p>Copyright © 2018. Geek Store.</p>
        </div>
    </div>
</div>