<div id="presentation"></div>

<div id="codding"></div>

<h2 class="text-center adj-color"> Geek Embed - Codepen DashBoard </h2>
<div id="code_ellegant"></div>

<script>
    $(document).ready(function() {
        const ATOMS = 'atoms/';
        //IF CODDING
        if ($('#codding').find) {
            $('#codding').load('./components/' + ATOMS + 'code.html');
        } else {
            console.error('Não carregou!');
        }

        if ($('#code_ellegant').find) {
            $('#code_ellegant').load('./components/' + ATOMS + 'code_ellegant.html');
        } else {
            console.error('Não carregou!');
        }

        if ($('#presentation').find) {
            $('#presentation').load('./components/' + ATOMS + 'presentation.html');
        } else {
            console.error('Não carregou!');
        }
    });
</script>