<div class="holder bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="/lucashiago.github.io/" class="logo pull-left">
          <img class="logo on-top" src="images/store_logo_inv.png">
        </a>
        <ul class="menu_order">
          <li class="menu_items">
            <a href="http://bit.ly/gitlucashiago">GitHub</a>
            <a href="http://bit.ly/lucashiagocodepen">Codepen</a>
            <a href="/lucashiago.github.io/skills">Skill's</a>
            <a href="/lucashiago.github.io/catalogo">Catálogo</a>
          </li>
        </ul>
        <a href="#" id="menu-opener" class="menu-opener pull-right fa fa-bars"></a>
      </div>
    </div>
  </div>
</div>


<script>
    $('#menu-opener').on("click", function(e) {
        e.preventDefault();
        jQuery("body").toggleClass("nav-active");
    });
</script>