<a href="#" class="logo pull-left">
    <img class="logo" src="images/store_logo.png">
</a>
<nav id="nav">
    <ul class="list-unstyled">

        <a href="http://m.me/Geek-Store-601790020278000/" class="button">
            <img src="https://assets.modernapp.co/assets/images/facebook-message-button-icon-white2x.png" alt="Chat med Glimty" style="text-float: left !important; width: 20px !important; height: 20px !important;" /> FALE CONOSCO
        </a>

    </ul>
</nav>

<footer class="footer-nav">
    <ul class="list-inline social">
        <li><a href="https://www.facebook.com/Geek-Store-601790020278000/"><i class="fa fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/geekersstore/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
    <p>Copyright © 2018 - 2019. Geek</p>
</footer>