<a href="/lucashiago.github.io/" class="logo pull-left">
    <img class="logo" src="images/store_logo.png">
</a>
<nav id="nav">
    <ul class="list-unstyled">
        <li class="menu_sidebar">
                <a href="http://bit.ly/gitlucashiago">GitHub</a>
                <a href="http://bit.ly/lucashiagocodepen">Codepen</a>
                <a href="/lucashiago.github.io/skills">Skill's</a>
                <a href="/lucashiago.github.io/catalogo">Catálogo</a>
        </li>
        <a href="http://m.me/Geek-Store-601790020278000/" class="button">
            <img src="https://assets.modernapp.co/assets/images/facebook-message-button-icon-white2x.png" alt="Chat med Glimty" style="text-float: left !important; width: 20px !important; height: 20px !important;" /> FALE CONOSCO
        </a>
    </ul>
    <ul class="list-inline social">
        <li><a href="https://discord.gg/yeBgpg"> <img src="/lucashiago.github.io/skills/images/discord.svg" alt="discord"> </a></li>
        <li><a href="http://bit.ly/linkedinlucashiago"> <img id="linkedin_fix" src="/lucashiago.github.io/skills/images/linkedin.svg" alt="linkedin"> </a></li>
    </ul>
</nav>

<footer class="footer-nav">
    <ul class="list-inline social">
        <li><a href="https://www.facebook.com/Geek-Store-601790020278000/"><i class="fa fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/geekersstore/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
    <p>Copyright © 2018 - 2019. Geek</p>
</footer>