
<div class="container-fluid">
    <div class="row">
        <h1 class="text-center primary-color"> Projects Selling</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <h1 class="text-center title_project primary-color"> Project GreatWork
        </h1>
        <a href="https://pag.ae/7U_LkuRQq"><div class="price">$2.999</div></a>
        <div class="information_scroll"><span class="scroll_down"><p>Please,
                    scroll down</p></span></div>
        <div class="goal">
            <img src="/lucashiago.github.io/skills/images/great_work.png"
                alt="">
            <div class="percent"></div>
            <p></p>
        </div>
    </div>
</div>

<div class="gap-60"></div>

<div class="container-fluid">
        <div class="row">
            <h1 class="text-center title_project primary-color"> Project PedeJá
            </h1>
            <a href="https://pag.ae/7U_LqiVnL"><div class="price2">$1.300</div></a>
            <div class="information_scroll"><span class="scroll_down"><p>Please,
                        scroll down</p></span></div>
            <div class="goal">
                <img src="/lucashiago.github.io/skills/images/pedeja.png"
                    alt="">
                <div class="percent"></div>
                <p></p>
            </div>
        </div>
    </div>
    

    
<div class="gap-60"></div>

<div class="container-fluid">
        <div class="row">
            <h1 class="text-center title_project primary-color"> Project React Template Commerce
            </h1>
            <a href="https://pag.ae/7U_N6W_m1"><div class="price2">$69</div></a>
            <div class="information_scroll"><span class="scroll_down"><p>Please,
                        scroll down</p></span></div>
            <div class="goal"  style="position: relative;top: -147px !important;">
                <img src="/lucashiago.github.io/skills/images/react_commerce.png"
                    alt="">
                <div class="percent"></div>
                <p></p>
            </div>
        </div>
    </div>
    