<div class="container-fluid has-padlr-55">
    <div class="row">
        <!--Embed Div Controller-->
        <div id="first_frame" class="col-12 col-sm-12 col-md-6 result-frame">
            <!--Embed Code One-->
            <iframe height="350" style="width: 100%;" scrolling="no" title="One
                Page Scrolly Thing"
                src="//codepen.io/lucashiagodsf/full/JqKQeo/?height=292&theme-id=dark&default-tab=css,result"
                frameborder="no" allowtransparency="true"
                allowfullscreen="true">
                See the Pen <a
                    href='https://codepen.io/lucashiagodsf/pen/JqKQeo/'>One Page
                    Scrolly Thing</a> by Lucas Hiago
                (<a href='https://codepen.io/lucashiagodsf'>@lucashiagodsf</a>)
                on <a href='https://codepen.io'>CodePen</a>.
            </iframe>
        </div>
        <!--Embed Div Controller-->
        <div id="first_frame" class="col-12 col-sm-12 col-md-6 result-frame">
            <!--Embed Code One-->
            <iframe height="350" style="width: 100%;" scrolling="no"
                title="Section Builder"
                src="//codepen.io/lucashiagodsf/full/PvzKQx/?height=265&theme-id=dark&default-tab=js,result"
                frameborder="no" allowtransparency="true"
                allowfullscreen="true">
                See the Pen <a
                    href='https://codepen.io/lucashiagodsf/pen/PvzKQx/'>Section
                    Builder</a> by Lucas Hiago
                (<a href='https://codepen.io/lucashiagodsf'>@lucashiagodsf</a>)
                on <a href='https://codepen.io'>CodePen</a>.
            </iframe>
        </div>
    </div>
</div>
<div class="container-fluid has-padlr-55">
    <div class="row">
        <!--Embed Div Controller-->
        <div class="col-12 col-sm-12 col-md-6 result-frame">
            <!--Embed Code One-->
            <iframe height="350" style="width: 100%;" scrolling="no"
                title="Weekly Coding Challenge #1 - Double slider Sign in/up
                Form - Desktop Only"
                src="//codepen.io/lucashiagodsf/full/yWJJYE/?height=265&theme-id=dark&default-tab=css,result"
                frameborder="no" allowtransparency="true"
                allowfullscreen="true">
                See the Pen <a
                    href='https://codepen.io/lucashiagodsf/pen/yWJJYE/'>Weekly
                    Coding Challenge #1 - Double slider Sign in/up Form -
                    Desktop Only</a> by Lucas Hiago
                (<a href='https://codepen.io/lucashiagodsf'>@lucashiagodsf</a>)
                on <a href='https://codepen.io'>CodePen</a>.
            </iframe>
        </div>
        <!--Embed Div Controller-->
        <div class="col-12 col-sm-12 col-md-6 result-frame">
            <!--Embed Code One-->
            <iframe height="350" style="width: 100%;" scrolling="no"
                title="Bazar React Shopping Cart"
                src="//codepen.io/lucashiagodsf/full/BezjeX/?height=265&theme-id=dark&default-tab=js,result"
                frameborder="no" allowtransparency="true"
                allowfullscreen="true">
                See the Pen <a
                    href='https://codepen.io/lucashiagodsf/pen/BezjeX/'>Bazar
                    React Shopping Cart</a> by Lucas Hiago
                (<a href='https://codepen.io/lucashiagodsf'>@lucashiagodsf</a>)
                on <a href='https://codepen.io'>CodePen</a>.
            </iframe>
        </div>
    </div>
</div>

<div class="btn-presentation">
    <a href="http://bit.ly/lucashiagocodepen" target="_blank">
        <button class="button">Ver Mais</button>
    </a>
</div>