<div class="container-fluid">
    <div class="row">
        <h1 class="text-center primary-color"> Skills </h1>
        <p class="text-center">Prepare your heart, the skill chart is extense</p>
    </div>
    <div class="row">
        <h1 class="text-center primary-color"> Development Languages </h1>
        <div class="skill_language">
            <img src="" alt="">
            <div class="percent"></div>
            <p></p>
        </div>
    </div>
</div>

<style>
main#main {
    height: 255em;
}
</style>

<iframe id="frame_skills_language" src="/lucashiago.github.io/skills/chart_graph.html"></iframe>

<div class="gap-500"></div>


<div class="container-fluid">
        <div class="row">
            <h1 class="text-center primary-color"> Skills </h1>
            <p class="text-center">Prepare your heart, the skill chart is extense</p>
        </div>
        <div class="row">
            <h1 class="text-center primary-color"> Development Libs </h1>
            <div class="skill_language">
                <img src="" alt="">
                <div class="percent"></div>
                <p></p>
            </div>
        </div>
</div>


<iframe id="frame_skills_language_lib" src="/lucashiago.github.io/skills/chart_grap_lib.html"></iframe>


<div class="container-fluid">
        <div class="row">
            <h1 class="text-center primary-color"> Skills </h1>
            <p class="text-center">Last Part Chart Skills Presentation</p>
        </div>
        <div class="row">
            <h1 class="text-center primary-color"> Development DB and API </h1>
            <div class="skill_language">
                <img src="" alt="">
                <div class="percent"></div>
                <p></p>
            </div>
        </div>
</div>

<iframe id="frame_skills_language_db" src="/lucashiago.github.io/skills/chart_grap_api.html"></iframe>

<div class="gap-550"></div>

<div class="container-fluid">
        <div class="row">
            <h1 class="text-center primary-color"> New Skills 2019 </h1>
            <p class="text-center">Atualizada a cada ano</p>
        </div>
        <div class="row">
            <h1 class="text-center primary-color"> Editors, IDE's and SO </h1>
            <div class="more_skills">
                <ul>
                    <li><img src="/lucashiago.github.io/skills/images/visual-studio.svg" alt=""></li>
                    <li><img src="/lucashiago.github.io/skills/images/photoshop.svg" alt=""></li>
                    <li><img src="/lucashiago.github.io/skills/images/ubuntu.svg" alt=""></li>
                </ul> 
                <div class="percent"></div>
                <p></p>
            </div>
        </div>
</div>

<div class="gap-30"></div>

<div class="container-fluid">
        <div class="row">
            <h1 class="text-center primary-color"> Metas 2019 </h1>
            <p class="text-center">Atualizada a cada ano</p>
        </div>
        <div class="row">
            <h1 class="text-center primary-color"> Project GreatWork </h1>
            <div class="information_scroll"><span class="scroll_down"><p>Please, scroll down</p></span></div>
            <div class="goal">
                <img src="/lucashiago.github.io/skills/images/great_work.png" alt="">
                <div class="percent"></div>
                <p></p>
            </div>
        </div>
</div>