/* Product Color */
.product-color {
  margin-top: -20px;
  margin-left: 15px;
  z-index: 2;
  position: relative;
}
 
.color-choose div {
  display: inline-block;
}
 
.color-choose input[type="radio"] {
  display: none;
}
 
.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}
 
.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  
}

.color-choose input[type="radio"]#pink + label span {
  background-color: #bc2345;
}
 
.color-choose input[type="radio"]#white + label span {
  background-color: white;
}
 
.color-choose input[type="radio"]#lightblue + label span {
  background-color: #60d1f1;
}

.color-choose input[type="radio"]#red + label span {
  background-color: #9f2f30;
}

.color-choose input[type="radio"]#darkblue + label span {
  background-color: #0497ca;
}
.color-choose input[type="radio"]#green + label span {
  background-color: #89d99a;
}
.color-choose input[type="radio"]#yellow + label span {
  background-color: #f6d03f;
}
.color-choose input[type="radio"]#purpple + label span {
  background-color: #6e72d5;
}

.color-choose input[type="radio"]#pink:checked + label span {
  box-shadow:  0 0 0 1px #bc2345;
}

.color-choose input[type="radio"]#white:checked + label span {
  box-shadow:  0 0 0 1px white;
}

 
.color-choose input[type="radio"]#lightblue:checked + label span {
  box-shadow:  0 0 0 1px #60d1f1;
}

.color-choose input[type="radio"]#red:checked + label span {
  box-shadow:  0 0 0 1px #9f2f30;
}

.color-choose input[type="radio"]#darkblue:checked + label span{
  box-shadow:  0 0 0 1px #0497ca;
}
.color-choose input[type="radio"]#green:checked + label span {
  box-shadow:  0 0 0 1px #89d99a;
}
.color-choose input[type="radio"]#yellow:checked + label span {
  box-shadow:  0 0 0 1px #f6d03f;
}
.color-choose input[type="radio"]#purpple:checked + label span {
  box-shadow:  0 0 0 1px #6e72d5;
}

.inactive {
    display: none !important;
}

.active {
    display: block !important;
}

.product_img-3d img {
  width: 65% !important;
}

.color-choose input, .size-choose input {
    display: none !important;
}

.size-choose {
    position: absolute;
    top: 0%;
    left: 80%;
    width: 15%;
}

.size-choose label {
    background: white;
    cursor: pointer;
    padding: 5px;
    margin-top: 5px;
    float: right;
    margin-left: 21px;
    border-radius: 6px;
}

/*.size-choose label:hover {
    background: white;
    transition: all 0.4s;
    transform: translate(4px, 1px);
}*/

.size-choose div {
    margin-top: 15px;
}

.product-size {
    float: right;
}


canvas {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    opacity: 0.45;
    margin: 0;
    cursor: pointer;
    /* width: 90%; */
    /* height: 90%; */
    overflow-x: hidden;
    overflow: hidden;
}


/* ADDING COLORS */

.color-choose input[type="radio"]#gray + label span {
  background-color: #3b373c;
}

.color-choose input[type="radio"]#gray:checked + label span {
  box-shadow:  0 0 0 1px #3b373c;
}

.color-choose input[type="radio"]#blue + label span {
  background-color: #375374;
}

.color-choose input[type="radio"]#blue:checked + label span {
  box-shadow:  0 0 0 1px #375374;
}

.color-choose input[type="radio"]#green_1 + label span {
  background-color: #008079;
}

.color-choose input[type="radio"]#green_1:checked + label span {
  box-shadow:  0 0 0 1px #008079;
}

.color-choose input[type="radio"]#darkblue_1 + label span {
  background-color: #00639d;
}

.color-choose input[type="radio"]#darkblue_1:checked + label span {
  box-shadow:  0 0 0 1px #00639d;
}

.color-choose input[type="radio"]#orange + label span {
  background-color: #cf7d5b;
}

.color-choose input[type="radio"]#orange:checked + label span {
  box-shadow:  0 0 0 1px #cf7d5b;
}

.hide-mobile{display: block;}
.hide-desktop{display: none;}

@media screen and (max-width: 1024px){
  .hide-mobile{display: none;}
  .hide-desktop{display: block;}
  .color-choose input[type="radio"] + label span {
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
  }

  .color-choose {
    width: 10%;
    position: absolute;
    right: 0;
    top: 130px;
    background: #00000021;
    padding: 8px;
    border-radius: 40px;
 }
}